/* css styles */

a:link {
      text-decoration: none;
}

a:visited {
/* text-decoration: none;   */
}

a:hover {
/*      text-decoration: none;  */
}

a:active {
/*      text-decoration: none;  */
}



h2 {
      border: none;
}
   

ul { 
/*      list-style: none; */
}
